body {
    background-color: aliceblue;
}

header {
    margin: 10px;
    padding: 20px;
}

header {
    margin: 10px;
    padding: 20px;
}

.hearder-color {
    background-color: rgb(186, 134, 212);
}